[flake8]
max-line-length=120
per-file-ignores =
    orange_cyberrating/job/export.py: E501
    orange_cyberrating/orange_cyberrating/settings/development.py: F403 F405
    orange_cyberrating/orange_cyberrating/settings/production.py: F403 F405
    orange_cyberrating/orange_cyberrating/settings/testing.py: F403 F405 F401
    tests/job/job_utils_tests.py: E501
