orange_cyberrating/static/asset/
orange_cyberrating/static/boosted/
orange_cyberrating/static/Datatables/
orange_cyberrating/static/DataTables-2.2.1/
orange_cyberrating/static/fontawesome/
orange_cyberrating/static/fonts/
orange_cyberrating/static/Highcharts-9.2.2/
orange_cyberrating/static/Highcharts-Maps-9.2.2/
orange_cyberrating/static/Highcharts-Stock-9.2.2/
orange_cyberrating/static/js/daterangepicker/
orange_cyberrating/static/js/bootstrap-multiselect/
orange_cyberrating/static/js/select2/
orange_cyberrating/static/js/ipaddr.min.js
orange_cyberrating/static/js/bootstrap-table.min.js
orange_cyberrating/static/js/jquery.min.js
orange_cyberrating/static/js/reporting/html2pdf.bundle.min.js
